AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CALLBACK_URL=
AUTH0_CLIENT_SECRET=
AUTH0_AUDIENCE=

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=dms


# auth0_m2m
AUTH0_M2M_DOMAIN=
AUTH0_M2M_CLIENT_ID=
AUTH0_M2M_CLIENT_SECRET=
AUTH0_M2M_AUDIENCE=
AUTH0_M2M_CONNECTION=
 
SENTRY_DSN=